{% extends 'Blogs/base.html' %}

{% block content %}

<form method="post" class="max-w-sm mx-auto space-y-6">
  {% csrf_token %}

  <!-- Поле для Username -->
  <div class="mb-5">
    <label for="id_username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your username</label>
    <input type="text" id="id_username" name="username" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
     focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
     dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
           placeholder="Enter your username" required />
  </div>

  <!-- Поле для Password -->
  <div class="mb-5">
    <label for="id_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your password</label>
    <input type="password" id="id_password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg
    focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
    dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
  </div>

  <!-- Запомнить меня -->
  <div class="flex items-start mb-5">
    <div class="flex items-center h-5">
      <input id="remember" name="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50
       focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600
        dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800" />
    </div>
    <label for="remember" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">Remember me</label>
  </div>

  <!-- Кнопка отправки -->
  <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none
  focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600
  dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Submit
  </button>
  <div class="text-center mt-4">
    <p class="text-sm text-gray-500 dark:text-gray-400">
        Нет аккаунта?
        <a href="{% url 'user:register' %}" class="font-medium text-blue-600 hover:text-blue-700
        dark:text-blue-500 dark:hover:text-blue-400">Зарегистрироваться</a>
    </p>
</div>

</form>

{% endblock content %}
